#bot-loading-icon{
    animation: rotation 5s infinite linear;
    width: 20px;
    height: 20px;
}

.online-icon{
    background: green;
font-size: 2em;
position: relative;
float: right;
right: 0.8rem;
bottom: 1.7rem;
border-radius: 1em;
border: solid #1b1c1d;
height: .35em;
width: .35em;
border-width: .075em;
}

.bot-card-div{
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: 3rem auto;
    grid-template-rows: 1.5rem;
}

#desktop-bot-div{
    padding-left: 1rem;
}


@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    20% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    90% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.ticker-wrap {
    overflow: hidden;
    position: relative;
}

.ticker {
    display: inline-block;
    white-space: nowrap;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
}