body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark{
  background: #333;
  color: #fff;
}

.ui.inverted.menu .item{
  background: #1b1c1d;
}

.ui.inverted.menu .dropdown.item .menu{
  background: #333;
}

.ui.vertical :not(.inverted) .segment {
  background: #eeeeee;
}

.footer{
  position: absolute;
  bottom: 0;
  height: 10rem;
}

.text-scroll{
  animation: slide 2s infinite linear;
  width: fit-content;
}

#page-container{
  position: relative;
  min-height: calc(100vh - 1rem);
}

#content-wrap {
  padding-bottom: 11rem;    /* Footer height */
}

#bot-loading-icon{
  animation: rotation 5s infinite linear;
}

#bot-status-icon{
  color: green;
  font-size: 0.5em;
  position: relative;
  left: -3em;
  bottom: -1.5em;
}

#bot-card-div{
  padding-bottom: 3rem;
}

#desktop-bot-div{
  padding-left: 1rem;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  20% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  90% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  overflow: hidden;
  left: 5em;
  position: fixed;
}

.ticker-wrap.desktop{
  width: calc(18.75% - 7.3rem);
}

.ticker-wrap.mobile{
  position: relative;
  left: -2rem;
}

.ticker {
  display: inline-block;
  white-space: nowrap;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;

}